<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration>  
   <session-factory>  
      <property name="hbm2ddl.auto">validate</property>  
      <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>  
      <property name="connection.url">jdbc:sqlserver://192.168.1.254:1433;databaseName=UniversidadX;encrypt=true;trustServerCertificate=true</property>  
      <property name="connection.username">sa</property>  
      <property name="connection.password">123456ABCxyz</property>  
      <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
      <property name="hibernate.show_sql">true</property>
      <mapping class="com.pepe.EjemplosHibernate.Models.Estudiante"/>
      <mapping class="com.pepe.EjemplosHibernate.Models.Carrera"></mapping>
      <mapping class="com.pepe.EjemplosHibernate.Models.Docente"></mapping>
      <mapping resource="Asignatura.hbm.xml"></mapping>
      <mapping resource="Inscripcion.hbm.xml"></mapping>  
   </session-factory>  
</hibernate-configuration>